body {
  margin: 0px;
  padding: 0px;
  font-family: monospace;
}

div {
  padding: 0px;
  margin: 0px;
}

.tile {
  border: 5px solid rgba(194, 194, 194, 0.8);
  border-radius: 5px;
  box-shadow: 5px 5px 30px rgba(190, 190, 190, 0.9);
  border-radius: 2px;
  width: 60px;
  height: 60px;
  text-align: center;
  font-size: 52px;
}

legend {
  font-size: 100px;
}

p {
  font-size: 25px;
}

h1 {
  margin-bottom: 10px;
  margin-top: 40px;
  font-size: 40px;
}

.column {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 2px;
}

.invisible {
  opacity: 0.5;
}

.visible {
  opacity: 1;
}

.mine {
  background-color: orange;
  width: 100%;
  height: 100%;
}

.flagged {
  border: 5px solid red;
}

#flexBoard {
  width: 60vw;
  height: 60vw;
  border: 5px solid rgba(194, 194, 194, 0.8);
  border-radius: 5px;
  box-shadow: 5px 5px 30px rgb(0 0 0 / 90%);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 45vw;
  margin-top: 9vh;
  border-radius: 2px;
}

#description {
  border: 5px solid aqua;
  width: 30vw;
  height: 72vh;
  position: absolute;
  top: 10vh;
  left: 20vh;
}
